:root {
  --text-color-grey: #757575;
  --title-text-color-black: #212121;
  --accent-background-color: #2f303a;
  --accent-color-blue: #2196f3;
  --accent-fill: #afb1b8;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.features__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work__container {
  padding-bottom: 94px;
  /* padding-top: 94px; */
}

.our-team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: white;
  border-radius: 1%;
  padding: 40px;
  display: block;
  /* margin-bottom: 12px; */
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--accent-color-blue);
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color-blue);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background: var(--accent-color-blue);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--title-text-color-black);
}

.work__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-text-color-black);
}

.subscription-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  color: var(--title-text-color-black);
}

.portfolio-title {
  display: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-text-color-black);
}

.clients-section-title {
  margin-bottom: 50px;
}

.portfolio-project-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--title-text-color-black);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 24px;
}

.top-header__logo {
  margin-right: 93px;
}

.logo-firstpart {
  color: var(--accent-color-blue);
}

.top-header .logo {
  color: #000000;
}

.footer .logo {
  color: #ffffff;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
}

.footer__logo {
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-field {
  position: relative;
  margin-bottom: 10px;
}

.contact-form-field-span {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  border-color: var(--accent-color-blue);
}

.contact-form-icon {
  position: absolute;
  top: 65%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent-color-blue);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 6px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color-blue);
}

.contact-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.contact-form-checkbox-label::before {
  content: "";
  cursor: pointer;
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color-black);
  border-radius: 4px;
  background-color: #ffffff;
  margin-right: 8.4px;
}

.contact-form-checkbox-link {
  color: var(--accent-color-blue);
  font-size: inherit;
}

.contact-form-checkbox {
  top: 79%;
  left: 43px;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-color: var(--accent-color-blue);
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: 1px solid var(--accent-color-blue);
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  border: 2px solid var(--accent-color-blue);
}

.contact-form-btn {
  min-width: 200px;
  height: 50px;
  background: var(--accent-color-blue);
  border-radius: 4px;
  border: 1px solid var(--accent-color-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn:hover, .contact-form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.top-header {
  border-bottom: 1px solid #ececec;
}

.top-header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color-black);
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color-blue);
}

.site-nav__link.current {
  color: var(--accent-color-blue);
}

.site-nav__link.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color-blue);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__mail {
  display: flex;
  font-style: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail:hover, .contacts__mail:focus {
  color: var(--accent-color-blue);
}

.contacts__tel {
  display: flex;
  font-style: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__tel:hover, .contacts__tel:focus {
  color: var(--accent-color-blue);
}

.contacts__icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon:hover, .contacts__icon:focus {
  fill: var(--accent-color-blue);
}

.contacts__tel:hover .contacts__icon,
.contacts__tel:focus .contacts__icon {
  fill: var(--accent-color-blue);
}

.contacts__mail:hover .contacts__icon,
.contacts__mail:focus .contacts__icon {
  fill: var(--accent-color-blue);
}

.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  background-color: var(--accent-background-color);
  justify-content: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero__btn {
  display: block;
  background-color: var(--accent-color-blue);
  color: #ffffff;
  font-family: inherit;
  font-style: inherit;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 1px solid var(--accent-color-blue);
  /* box-shadow: 0px 4px 4px rgba(0 0 0 0.15); */
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.features-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features__list {
  display: flex;
}

.features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__icons {
  display: block;
  background-position: center;
}

.features__desc {
  font-size: 14px;
  line-height: 1.7;
}

.work__list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.work__item {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

/* .work-section-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
} */
.work-section-text-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.our-team-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* .our-team-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
} */
.team-card-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-card-titletext {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-icon {
  fill: var(--accent-fill);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color-blue);
}

.clients-icon {
  display: flex;
  justify-content: center;
  fill: var(--accent-fill);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color-blue);
}

/* .clients-item:hover .clients-icon,
.clients-item:focus .clients-icon {
  fill: var(--accent-color-blue);
} */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-contacts-container {
  margin-right: 70px;
}

.studio-address {
  font-style: inherit;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact-address,
.footer-contact-mail,
.footer-contact-tel {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-address {
  color: #ffffff;
}

.footer-social-container {
  margin-right: 93px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form {
  position: relative;
  display: flex;
}

/* .subscription-form-label {
  visibility: hidden;
  position: absolute;
} */
.subscription-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  outline: 0;
  outline-offset: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form-input:hover, .subscription-form-input:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form-btn {
  background: var(--accent-color-blue);
  border: 1px solid var(--accent-color-blue);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 29px;
  padding-right: 28px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form-btn:hover, .subscription-form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-form-btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.portfolio-filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color-black);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-btn:hover, .portfolio-filter-btn:focus {
  background-color: var(--accent-color-blue);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-project-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.portfolio-project-link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-link:hover, .portfolio-project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project-img-container {
  position: relative;
  max-width: 370px;
  max-height: 294px;
  overflow: hidden;
}

.portfolio-project-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-link:hover .portfolio-project-overlay-container {
  opacity: 1;
  transform: translate(0, 0);
}

.portfolio-project-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
}

.portfolio-project-card-text {
  font-size: 16px;
  line-height: 1.9;
  /* margin-top: 4px; */
}

.portfolio-project-card-titletext {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}
/*# sourceMappingURL=main.css.map */