.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: rgb(255, 255, 255);
  border-radius: 1%;
  padding: 40px;

  display: block;
  /* margin-bottom: 12px; */
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: var(--accent-color-blue);
  }
}
