.features__container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work__container {
  padding-bottom: 94px;
  /* padding-top: 94px; */
}
.our-team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
