.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work {
  padding-bottom: 94px;
  /* padding-top: 94px; */
}
.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
